<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>detail-table</title>
    <link
    href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
    rel="stylesheet"
    integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
    crossorigin="anonymous"
  />
  <script
    src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
    crossorigin="anonymous"
  ></script>

  <link rel="stylesheet" href="../public/assets/css/style.css">

  <link rel="stylesheet" href="font-awesome/css/font-awesome.min.css" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" />
</head>
<body>



<!-- start for navbar -->
    <!-- this is navbar -->
          <nav class="navbar navbar-expand-lg navbar-dark bg-navbar shadow">
            <div class="container  id="navbarNavDropdown"">
            <a class="navbar-brand fw-bold fs-4" href="/">IFORME</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-4 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/">Home</a>
                </li>

                  <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                 E - Kliping
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                  <li><a class="dropdown-item" href="/kliping_online">E - Kliping Online</a></li>
                  <li><a class="dropdown-item" href="/kliping_cetak">E - Kliping Cetak</a></li>

                </ul>
              </li>
                
                <li class="nav-item">
                    <a class="nav-link" href="#about">E-Release</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link footer" href="/galery">Galery</a>
                </li>
                </ul>
                <form class="d-flex">
                  
                <a href="/login" class="btn btn-outline-light ms-3">Login</a>
                <a href="/contact" class="btn btn-outline-danger ms-2">Contact</a>               
                </form>
            </div>
            </div>
        </nav>
  <!-- finish for navbar -->
  <!-- navbar done -->
  
  
    
<!-- detail dari data e - rilis -->
<div class="px-4 pt-2 my-5 text-center">
    <h4 class="fw-bold">{{klipingCetak.titlecetak}}</h4>
    <div class="col-lg-6 mx-auto">
        <p class="px-4 pt-2 my-4 text-lg-end ">{{klipingCetak.postAt}}  | {{ klipingCetak.authorcetak }}</p>
       
      <div class="d-grid gap-2 d-sm-flex justify-content-sm-center mb-5">
     
      </div>
    </div>
    <div class="overflow-hidden" style="max-height: 60vh;">
      <div class="container px-5">
 <img src="./upload/kliping-cetak/kliping.jpeg" class="img-fluid   rounded-3  mb-4" alt="Example image" width="30%" height="40%">
      </div>
    </div>
  </div>
  <!-- detail e finish-->
  

<!-- this is footer -->
<!-- THIS IS FOOTER -->
<footer id="footer">
    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-3 col-md-6 footer-contact">
            <h3>IFORME</h3>
            <p>
              Jalan Dorak, Kecamatan Tebing Tinggi<br>
              SelatPanjang, Riau 28753.<br>
              Indonesia<br><br>
              <strong>Phone:</strong> +62  83488 55<br>
              <strong>Email:</strong> iforme@gmail.com<br>
            </p>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Useful Links</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Home</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">About us</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Services</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Terms of service</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Privacy policy</a></li>
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Our Services</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Home</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">E-Kliping</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">E-Release</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Galery</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Contact</a></li>
            </ul>
          </div>
          
          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Our Social Networks</h4>
            <p>Jika ingin terhubung dengan media sosial silahkah masukan dan sarannya 
              atau sekedar hay-, terimakasih.</p>
            <div class="social-links mt-3">
              <a href="#" class="twitter" ><i class="fa fa-twitter "></i></a>
              <a href="#" class="facebook"><i class="fa fa-facebook"></i></a>
              <a href="#" class="instagram"><i class="fa fa-instagram"></i></a>
              <a href="#" class="linkedin"><i class="fa fa-linkedin"></i></a>
            </div>
          </div>

        </div>
      </div>
    </div>

    <div class="container py-4">
      <div class="copyright">
        &copy; Copyright <strong><span>Ra66it</span></strong> | All Rights Reserved
      </div>
      <div class="credits">
        Designed by Ra66it12</a>
      </div>
    </div>
  </footer>
<!-- End Footer -->
<!-- fotter finish -->


</body>
</html>